# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://998de95002ac16a0e4b272e3274ce68a9a1bfd64cdb005cee58aaecc2d0fabb3:sk_cOqWMd8fuAJCqQZNoqf6d@pooled.db.prisma.io:5432/postgres?sslmode=require"